<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'REGISTRARSE_/_INICIAR_SESIÓN' | translate }}</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content class="auth-content">
  <div class="auth-container">
    <ion-card>
      <ion-segment [(ngModel)]="authSegment" color="primary">
        <ion-segment-button value="login">
          <ion-label>Login</ion-label>
        </ion-segment-button>
        <ion-segment-button value="signup">
          <ion-label>Sign Up</ion-label>
        </ion-segment-button>
      </ion-segment>

      <ion-card-content>
        <div *ngIf="authSegment === 'login'">
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input [(ngModel)]="email" type="email"></ion-input>
            <ion-icon slot="end" name="mail-outline"></ion-icon>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input [(ngModel)]="password" type="password"></ion-input>
            <ion-icon slot="end" name="lock-closed-outline"></ion-icon>
          </ion-item>

          <ion-button expand="full" (click)="login()" [disabled]="loading">
            <ion-icon slot="start" name="log-in-outline"></ion-icon>
            Login
          </ion-button>
          <ion-button expand="full" color="danger" (click)="googleLogin()" [disabled]="loading">
            <ion-icon slot="start" name="logo-google"></ion-icon>
            Login with Google
          </ion-button>
          <ion-button expand="full" color="primary" (click)="facebookLogin()" [disabled]="loading">
            <ion-icon slot="start" name="logo-facebook"></ion-icon>
            Login with Facebook
          </ion-button>
        </div>

        <div *ngIf="authSegment === 'signup'">
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input [(ngModel)]="email" type="email"></ion-input>
            <ion-icon slot="end" name="mail-outline"></ion-icon>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input [(ngModel)]="password" type="password"></ion-input>
            <ion-icon slot="end" name="lock-closed-outline"></ion-icon>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Confirm Password</ion-label>
            <ion-input [(ngModel)]="confirmPassword" type="password"></ion-input>
            <ion-icon slot="end" name="lock-closed-outline"></ion-icon>
          </ion-item>

          <ion-item lines="none">
            <ion-checkbox slot="start" [(ngModel)]="agreedToTerms"></ion-checkbox>
            <ion-label>
              I agree to the
              <a href="/tos" target="_blank">Terms of Service</a>
              and
              <a href="/privacy" target="_blank">Privacy Policy</a>
            </ion-label>
          </ion-item>

          <ion-button expand="full" (click)="signUp()" [disabled]="!agreedToTerms || loading">
            <ion-icon slot="start" name="person-add-outline"></ion-icon>
            Sign Up
          </ion-button>
        </div>

        <ion-text color="danger" *ngIf="errorMessage">{{ errorMessage }}</ion-text>
        <ion-spinner *ngIf="loading"></ion-spinner>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
