<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ "CONFIGURACIÓN" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  class="ion-padding" [fullscreen]="true">

  <ion-list lines="full" class="settings-list">
    <!-- General -->
    <ion-item-divider>
      <ion-label color="success" class="subHeader">
        <ion-icon slot="start" name="globe-outline"></ion-icon>{{ "GENERAL" | translate }}</ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-label>{{ "IDIOMA" | translate }}</ion-label>
      <ion-select [(ngModel)]="preferences.language" interface="action-sheet" (ionChange)="changeLanguage()">
        <ion-select-option value="es">{{ "ESPAÑOL" | translate }}</ion-select-option>
        <ion-select-option value="en">{{ "ENGLISH" | translate }}</ion-select-option>
        <ion-select-option value="pt">{{ "PORTUGUES" | translate }}</ion-select-option>
      </ion-select>
    </ion-item>
<ion-item>
  <ion-label>{{ "UNIDAD_DE_DISTANCIA" | translate }}</ion-label>
  <ion-segment [(ngModel)]="preferences.distanceUnit" (ionChange)="savePreferences()">
    <ion-segment-button value="KM">
      <ion-label>{{ "KM" | translate }}</ion-label>
    </ion-segment-button>
    <ion-segment-button value="MI">
      <ion-label>{{ "MI" | translate }}</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-item>

    <!-- Appearence -->
    <ion-item-divider>
      <ion-label  color="tertiary" class="subHeader">
        <ion-icon slot="start" name="color-palette-outline"></ion-icon>{{ "APARIENCIA" | translate }}</ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-label>{{ "TEMA_CLARO/OSCURO:" | translate }}</ion-label>
      <ion-toggle [(ngModel)]="preferences.darkTheme" (ionChange)="toggleTheme()"></ion-toggle>
    </ion-item>

    <!-- Voice Output -->
    <ion-item-divider>
      <ion-label color="warning" class="subHeader">
        <ion-icon slot="start" name="volume-high-outline"></ion-icon>{{ "SALIDA_DE_VOZ" | translate }}</ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-label>{{ "INSTRUCCIONES_DE_VOZ" | translate }}</ion-label>
      <ion-toggle [(ngModel)]="preferences.voiceInstructions" (ionChange)="savePreferences()"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>{{ "VOZ" | translate }}</ion-label>
      <ion-select [(ngModel)]="preferences.voice" interface="action-sheet" (ionChange)="selectVoice(preferences.voice)">
        <ion-select-option *ngFor="let voice of availableVoices" [value]="voice">{{voice}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>{{ "VELOCIDAD" | translate }}</ion-label>
      <ion-range min="0.5" max="2" step="0.1" [(ngModel)]="preferences.voiceSpeed" (ionChange)="savePreferences()">
        <ion-icon size="small" slot="start" name="speedometer-outline"></ion-icon>
        <ion-label slot="end">{{ "2X" | translate }}</ion-label>
      </ion-range>
    </ion-item>
    <ion-item>
      <ion-label>{{ "VOLUMEN" | translate }}</ion-label>
      <ion-range min="0" max="1" step="0.1" [(ngModel)]="preferences.voiceVolume" (ionChange)="savePreferences()">
        <ion-icon size="small" slot="start" name="volume-low-outline"></ion-icon>
        <ion-icon size="small" slot="end" name="volume-high-outline"></ion-icon>
      </ion-range>
    </ion-item>
    <ion-item>
      <ion-label>{{ "TONO" | translate }}</ion-label>
      <ion-range min="0" max="2" step="0.1" [(ngModel)]="preferences.voiceTone" (ionChange)="savePreferences()">
        <ion-icon size="small" slot="start" name="musical-note-outline"></ion-icon>
        <ion-label slot="end">{{ "2X" | translate }}</ion-label>
      </ion-range>
    </ion-item>

  </ion-list>
</ion-content>
