<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Iron Street</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Iron Street</ion-title>
  </ion-toolbar>
</ion-header>

  <div id="container">
  <div class="logo-container">
    <img src="path/to/your/logo.png" alt="Iron Street Logo">
  </div>

  <ion-segment [(ngModel)]="authAction" color="secondary">
    <ion-segment-button value="signin">
      <ion-icon name="log-in"></ion-icon>
      Sign In
    </ion-segment-button>
    <ion-segment-button value="signup">
      <ion-icon name="person-add"></ion-icon>
      Sign Up
    </ion-segment-button>
  </ion-segment>

  <!-- Error Message Container -->
  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>

  <div [ngSwitch]="authAction">
    <!-- Sign In Form -->
    <form #f="ngForm"  *ngSwitchCase="'signin'" (ngSubmit)="signInWithEmail(f)">
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" [(ngModel)]="email" name="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" [(ngModel)]="password" name="password"></ion-input>
      </ion-item>
      <ion-button type="submit" expand="block">Sign In</ion-button>
      <ion-button (click)="signInWithGoogle()" expand="block" color="danger">
        <ion-icon slot="start" name="logo-google"></ion-icon>Sign In with Google
      </ion-button>
      <ion-button (click)="signInWithFacebook()" expand="block" color="primary">
        <ion-icon slot="start" name="logo-facebook"></ion-icon>Sign In with Facebook
      </ion-button>
    </form>

    <!-- Sign Up Form -->
    <form #f="ngForm" *ngSwitchCase="'signup'" (ngSubmit)="signUpWithEmail(f)">
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" [(ngModel)]="email" name="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" [(ngModel)]="password" name="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Confirm Password</ion-label>
        <ion-input type="password" [(ngModel)]="confirmPassword" name="confirmPassword"></ion-input>
      </ion-item>
      <ion-button type="submit" expand="block">Sign Up</ion-button>
    </form>
  </div>
</div>

</ion-content>
