<ion-header>
  <ion-toolbar color="black">
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-padding">Calibrar navegación</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment [(ngModel)]="selectedSegment">

    <ion-segment-button  color="success"  value="gps">
      <ion-label><ion-icon name="locate-outline"></ion-icon>GPS</ion-label>
    </ion-segment-button">
    
    <ion-segment-button  color="warning"  value="snap">
      <ion-label><ion-icon name="compass-outline"></ion-icon>SNAP</ion-label>
    </ion-segment-button>

    <ion-segment-button  color="danger" value="traffic">
      <ion-label><ion-icon name="warning-outline"></ion-icon>ALERTAS</ion-label>
    </ion-segment-button>
    
  </ion-segment>

  <form>
    <!-- GPS Settings Section -->
    <div *ngIf="selectedSegment === 'gps'">
      <ion-card>
        <ion-card-header>
          <ion-card-title><ion-icon name="locate-outline"></ion-icon> GPS Settings</ion-card-title>
        </ion-card-header>
        <ion-card-content>
    
          <ion-item>
            <ion-button slot="start" (click)="decreaseValue('gpsSettings', 'locationIntervalTimeInMs', 100)">
              <ion-icon name="arrow-down-outline"></ion-icon>
            </ion-button>
            <ion-label>Tiempo mìnimo lec. gps. (ms)</ion-label>
            <ion-input type="number" class="twenty" [(ngModel)]="gpsSettings.locationIntervalTimeInMs"></ion-input>
            <ion-button slot="end" (click)="increaseValue('gpsSettings', 'locationIntervalTimeInMs', 100)">
              <ion-icon name="arrow-up-outline"></ion-icon>
            </ion-button>
          </ion-item>
    
          <ion-item>
            <ion-button slot="start" (click)="decreaseValue('gpsSettings', 'simulationIntervalTimeInMs', 100)">
              <ion-icon name="arrow-down-outline"></ion-icon>
            </ion-button>
            <ion-label>Tiempo lec. sim. (ms)</ion-label>
            <ion-input type="number" class="twenty" [(ngModel)]="gpsSettings.simulationIntervalTimeInMs"></ion-input>
            <ion-button slot="end" (click)="increaseValue('gpsSettings', 'simulationIntervalTimeInMs', 100)">
              <ion-icon name="arrow-up-outline"></ion-icon>
            </ion-button>
          </ion-item>
    
          <ion-item>
            <ion-button slot="start" (click)="decreaseValue('gpsSettings', 'userMarkerAnimationDurationInMs', 100)">
              <ion-icon name="arrow-down-outline"></ion-icon>
            </ion-button>
            <ion-label>Tiempo. animación. (ms)</ion-label>
            <ion-input type="number" class="twenty" [(ngModel)]="gpsSettings.userMarkerAnimationDurationInMs"></ion-input>
            <ion-button slot="end" (click)="increaseValue('gpsSettings', 'userMarkerAnimationDurationInMs', 100)">
              <ion-icon name="arrow-up-outline"></ion-icon>
            </ion-button>
          </ion-item>
    
          <ion-item>
            <ion-button slot="start" (click)="decreaseValue('gpsSettings', 'positionMaxAge', 100)">
              <ion-icon name="arrow-down-outline"></ion-icon>
            </ion-button>
            <ion-label>Lec. expiran tras: (ms)</ion-label>
            <ion-input type="number" class="twenty" [(ngModel)]="gpsSettings.positionMaxAge"></ion-input>
            <ion-button slot="end" (click)="increaseValue('gpsSettings', 'positionMaxAge', 100)">
              <ion-icon name="arrow-up-outline"></ion-icon>
            </ion-button>
          </ion-item>
    
          <ion-item>
            <ion-button slot="start" (click)="decreaseValue('gpsSettings', 'timeOut', 100)">
              <ion-icon name="arrow-down-outline"></ion-icon>
            </ion-button>
            <ion-label>Espera máx. entre lec. (ms)</ion-label>
            <ion-input type="number" class="twenty" [(ngModel)]="gpsSettings.timeOut"></ion-input>
            <ion-button slot="end" (click)="increaseValue('gpsSettings', 'timeOut', 100)">
              <ion-icon name="arrow-up-outline"></ion-icon>
            </ion-button>
          </ion-item>
    
          <ion-item>
            <ion-button slot="start" (click)="decreaseValue('gpsSettings', 'timeBetweenRealAndSimulation', 100)">
              <ion-icon name="arrow-down-outline"></ion-icon>
            </ion-button>
            <ion-label>Pausa entre Lec. Real / Simular. (ms)</ion-label>
            <ion-input type="number" class="twenty" [(ngModel)]="gpsSettings.timeBetweenRealAndSimulation"></ion-input>
            <ion-button slot="end" (click)="increaseValue('gpsSettings', 'timeBetweenRealAndSimulation', 100)">
              <ion-icon name="arrow-up-outline"></ion-icon>
            </ion-button>
          </ion-item>
    
          <ion-item>
            <ion-button slot="start" (click)="decreaseValue('gpsSettings', 'timeBeforeStartInMs', 100)">
              <ion-icon name="arrow-down-outline"></ion-icon>
            </ion-button>
            <ion-label>Espera post rotación (ms)</ion-label>
            <ion-input type="number" class="twenty" [(ngModel)]="gpsSettings.timeBeforeStartInMs"></ion-input>
            <ion-button slot="end" (click)="increaseValue('gpsSettings', 'timeBeforeStartInMs', 100)">
              <ion-icon name="arrow-up-outline"></ion-icon>
            </ion-button>
          </ion-item>
    
          <ion-item>
            <ion-button slot="start" (click)="decreaseValue('gpsSettings', 'timeRotating', 100)">
              <ion-icon name="arrow-down-outline"></ion-icon>
            </ion-button>
            <ion-label>Intro. Rotación. Planetaria: (ms)</ion-label>
            <ion-input type="number" class="twenty" [(ngModel)]="gpsSettings.timeRotating"></ion-input>
            <ion-button slot="end" (click)="increaseValue('gpsSettings', 'timeRotating', 100)">
              <ion-icon name="arrow-up-outline"></ion-icon>
            </ion-button>
          </ion-item>
    
        </ion-card-content>
      </ion-card>
    
      <div *ngIf="isLoading">
        <ion-spinner name="crescent" class="centeredSpinner"></ion-spinner>
      </div>
    
      <!-- Botón para guardar GPS Settings -->
      <ion-button color="success" expand="full" (click)="saveGpsSettings()">
        <ion-icon name="save-outline"></ion-icon> Guardar GPS Settings
      </ion-button>
    </div>



    <!-- Snap Service Section -->
    <div *ngIf="selectedSegment === 'snap'">
      <ion-card>
        <ion-card-header>
          <ion-card-title><ion-icon name="compass-outline"></ion-icon> Snap Service Config</ion-card-title>
        </ion-card-header>
        <ion-card-content>

          <ion-item>
            <ion-button slot="start" (click)="decreaseValue('snapServiceConf', 'maxValidAccuracy', 1)">
              <ion-icon name="arrow-down-outline"></ion-icon>
            </ion-button>
            <ion-label>Max Valid Accuracy</ion-label>
            <ion-input type="number" [(ngModel)]="snapServiceConf.maxValidAccuracy"></ion-input>
            <ion-button slot="end" (click)="increaseValue('snapServiceConf', 'maxValidAccuracy', 1)">
              <ion-icon name="arrow-up-outline"></ion-icon>
            </ion-button>
          </ion-item>

          <!-- Agrega más campos de configuración de Snap Service siguiendo el mismo patrón -->

        </ion-card-content>
      </ion-card>
      <div *ngIf="isLoading">
        <ion-spinner name="crescent" class="centeredSpinner"></ion-spinner>
      </div>

      <!-- Botón para guardar Snap Service -->
      <ion-button color="success" expand="full" (click)="saveSnapServiceConf()">
        <ion-icon name="save-outline"></ion-icon> Guardar Snap Service
      </ion-button>
    </div>

    <!-- Traffic Alerts Section -->
    <div *ngIf="selectedSegment === 'traffic'">
      <ion-card>
        <ion-card-header>
          <ion-card-title><ion-icon name="alert-circle-outline"></ion-icon> Traffic Alerts Settings</ion-card-title>
        </ion-card-header>
        <ion-card-content>
    
          <ion-item>
            <ion-label class="ion-text-wrap">Speed Camera Alert Duration (ms)</ion-label>
          </ion-item>
    
          <ion-item>
            <ion-button slot="start" (click)="decreaseValue('trafficAlertServiceConf.alertsSettings.speedCamera', 'recommendedDuration', 100)">
              <ion-icon name="arrow-down-outline"></ion-icon>
            </ion-button>
            <ion-label>Recommended Duration</ion-label>
            <ion-input type="number" class="twenty" [(ngModel)]="trafficAlertServiceConf.alertsSettings.speedCamera.recommendedDuration"></ion-input>
            <ion-button slot="end" (click)="increaseValue('trafficAlertServiceConf.alertsSettings.speedCamera', 'recommendedDuration', 100)">
              <ion-icon name="arrow-up-outline"></ion-icon>
            </ion-button>
          </ion-item>
    
          <ion-item>
            <ion-button slot="start" (click)="decreaseValue('trafficAlertServiceConf.alertsSettings.speedCamera', 'durationForSimulation', 100)">
              <ion-icon name="arrow-down-outline"></ion-icon>
            </ion-button>
            <ion-label>Duration for Simulation</ion-label>
            <ion-input type="number" class="twenty" [(ngModel)]="trafficAlertServiceConf.alertsSettings.speedCamera.durationForSimulation"></ion-input>
            <ion-button slot="end" (click)="increaseValue('trafficAlertServiceConf.alertsSettings.speedCamera', 'durationForSimulation', 100)">
              <ion-icon name="arrow-up-outline"></ion-icon>
            </ion-button>
          </ion-item>
    
          <ion-item>
            <ion-label class="ion-text-wrap">Maneuver Alert Duration (ms)</ion-label>
          </ion-item>
    
          <ion-item>
            <ion-button slot="start" (click)="decreaseValue('trafficAlertServiceConf.alertsSettings.maneuver', 'recommendedDuration', 100)">
              <ion-icon name="arrow-down-outline"></ion-icon>
            </ion-button>
            <ion-label>Recommended Duration</ion-label>
            <ion-input type="number" class="twenty" [(ngModel)]="trafficAlertServiceConf.alertsSettings.maneuver.recommendedDuration"></ion-input>
            <ion-button slot="end" (click)="increaseValue('trafficAlertServiceConf.alertsSettings.maneuver', 'recommendedDuration', 100)">
              <ion-icon name="arrow-up-outline"></ion-icon>
            </ion-button>
          </ion-item>
    
          <ion-item>
            <ion-button slot="start" (click)="decreaseValue('trafficAlertServiceConf.alertsSettings.maneuver', 'durationForSimulation', 100)">
              <ion-icon name="arrow-down-outline"></ion-icon>
            </ion-button>
            <ion-label>Duration for Simulation</ion-label>
            <ion-input type="number" class="twenty" [(ngModel)]="trafficAlertServiceConf.alertsSettings.maneuver.durationForSimulation"></ion-input>
            <ion-button slot="end" (click)="increaseValue('trafficAlertServiceConf.alertsSettings.maneuver', 'durationForSimulation', 100)">
              <ion-icon name="arrow-up-outline"></ion-icon>
            </ion-button>
          </ion-item>
    
        </ion-card-content>
      </ion-card>
    
      <div *ngIf="isLoading">
        <ion-spinner name="crescent" class="centeredSpinner"></ion-spinner>
      </div>
    
      <!-- Botón para guardar Traffic Alert Settings -->
      <ion-button color="success" expand="full" (click)="saveTrafficAlertSettings()">
        <ion-icon name="save-outline"></ion-icon> Guardar Traffic Alert Settings
      </ion-button>
    </div>
  
  </form>
</ion-content>