<ion-header>
  <ion-toolbar color="black">
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-padding">Información del Lugar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scrollY="true">


  <div>

    <div>
      <ion-icon src="{{ featureIcon }}" size="large"></ion-icon>
      <ion-card *ngIf="osmFeature && osmFeature.properties">
        <ion-card-header>
          <ion-card-title *ngIf="osmPlace && osmPlace.label">{{osmPlace.label}}</ion-card-title>
          <ion-card-subtitle>Tipo: {{ osmFeature.properties['amenity'] }}</ion-card-subtitle>
          <ion-card-subtitle>Categoría: {{ osmFeature.properties['category'].name }}</ion-card-subtitle>
          <div id="modalBarButton">
            <ion-button (click)="dismiss()" color="danger" shape="round">
              <ion-icon slot="icon-only" color="dark" name="close-outline"></ion-icon>
            </ion-button>
            <ion-button *ngIf="placeDataIncludeWebsite" (click)="openOutsideLink(featureWebsite)" color="primary" shape="round">
              <ion-icon slot="icon-only" color="dark" name="globe-outline"></ion-icon>
            </ion-button>
            <ion-button *ngIf="placeDataIncludePhone" (click)="callNumber(featurePhone1)" color="secondary" shape="round">
              <ion-icon slot="icon-only" color="dark" name="call-outline"></ion-icon>
            </ion-button>
            <ion-button (click)="setDestinationOSMifAbortCurrent(osmFeatureIdSelected)" color="success" shape="round">
              <ion-icon slot="icon-only" color="dark" name="git-compare-outline"></ion-icon>
            </ion-button>
          </div>
        </ion-card-header>
        <ion-card-content>
          <ion-list>
            <ion-item *ngFor="let prop of featurePropsNormalized">
              <ion-label>
                <h2>{{ prop.keyTranslated }}</h2>
                <p>{{ prop.value }}</p>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>

    </div>


  </div>

</ion-content>
