<ion-header>
  <ion-toolbar color="black">
    <ion-buttons slot="start">
      <ion-button class="closeModalBtn" (click)="dismiss()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-padding">Información del Lugar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scrollY="true">


  <div>

    <div>
      <ion-icon src="{{ featureIcon }}" size="large"></ion-icon>
      <ion-card *ngIf="osmFeature && osmFeature.properties">
        <ion-card-header>
          <ion-card-title *ngIf="osmPlace && osmPlace.label">{{osmPlace.label}}</ion-card-title>
          <ion-card-subtitle *ngIf="osmFeature.properties['amenity']">Tipo: {{ osmFeature.properties['amenity'] }}</ion-card-subtitle>
          <ion-card-subtitle>Categoría: {{ osmFeature.properties['category'].name }}</ion-card-subtitle>
          <div id="modalBarButton">
          <ion-icon  (click)="dismiss()" name="close-circle-outline" size="big" color="danger">
            </ion-icon>
          <ion-icon *ngIf="placeDataIncludeWebsite" (click)="openOutsideLink(featureWebsite)" name="globe-outline" size="big" color="primary">
          </ion-icon>
          <ion-icon *ngIf="placeDataIncludePhone" (click)="callNumber(featurePhone1)" name="call-outline" size="big" color="secondary">
          </ion-icon>
          <ion-icon (click)="setDestinationOSMifAbortCurrent(osmFeatureIdSelected)" name="navigate-outline" size="big" color="success">
          </ion-icon>
          </div>
        </ion-card-header>
        <ion-card-content>
          <ion-list>
            <ion-item *ngFor="let prop of featurePropsNormalized">
              <ion-label>
                <h2>{{ prop.keyTranslated }}</h2>
                <p>{{ prop.value }}</p>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>

    </div>


  </div>

</ion-content>
