<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ "ALGUNAS_FUNCIONES_CLAVES..." | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- partial:index.partial.html -->
  <div class="cont s--inactive">
    <!-- cont inner start -->
    <div class="cont__inner">

      <!-- el start -->
      <div class="el" id="a">
        <div class="el__overflow" data-index="a">
          <div id="ainner" class="el__inner" data-index="a">
            <div id="abg" class="el__bg" data-index="a"></div>
            <div class="el__preview-cont" data-index="a">
              <div class="el__heading" data-index="a">
                <ion-icon class="el__heading-icon" data-index="a" name="navigate-outline" size="big"
                  color="primary"></ion-icon>
              </div>
            </div>
            <div class="el__content" data-index="a">
              <div class="el__text">
                <ion-icon class="el__heading-icon" data-index="a" name="navigate-outline" size="big"
                  color="primary"></ion-icon>
                <h4>{{ "MODOS_DE_VIAJE" | translate }}</h4>
                <ul>
                  <li>{{ "VIAJE_GUIADO, RUTAS_POSIBLES, PARADAS_INTERMEDIAS, INSTRUCCIONES_DE_VOZ." | translate }}</li>
                  <li>{{ "CONDUCCIÓN_LIBRE" | translate }}</li>
                  <li>{{ "SIMULACIÓN_DE_VIAJE" | translate }}</li>
                </ul>
                <h4>{{ "PUNTOS_DE_VISTA" | translate }}</h4>
                <ul>
                  <li>{{ "VER_EL_MAPA_CENTRADO_EN_TU_POSICIÓN_Y_UBICANDO_LA_CÁMARA_DETRÁS_DE_TI." | translate }}</li>
                  <li>{{ "VER_EL_MAPA_DESDE_ARRIBA." | translate }}</li>
                  <li>{{ "GESTOS_PARA_DESPLAZAR,_ROTAR,_ZOOM_Y_ALINEACIÓN_3D." | translate }}</li>
                </ul>
              </div>
              <div class="el__close-btn"></div>
            </div>
          </div>
        </div>
        <div class="el__index">
          <div class="el__index-back">{{ "I" | translate }}</div>
          <div class="el__index-front">
            <div class="el__index-overlay" data-index="i">{{ "I" | translate }}</div>
          </div>
        </div>
      </div>
      <!-- el end -->
      <!-- el start -->
      <div class="el" id="b">
        <div class="el__overflow" data-index="b">
          <div class="el__inner" data-index="b">
            <div class="el__bg" data-index="b"></div>
            <div class="el__preview-cont" data-index="b">
              <div class="el__heading" data-index="b">
                <ion-icon class="el__heading-icon" data-index="b" name="search-outline" size="big"
                  color="secondary"></ion-icon>
              </div>
            </div>
            <div class="el__content" data-index="b">
              <div class="el__text">
                <ion-icon class="el__heading-icon" data-index="b" name="search-outline" size="big"
                  color="secondary"></ion-icon>
                <h4>{{ "EXPLORA_TU_ENTORNO" | translate }}</h4>
                <p>{{ "PUEDES_BUSCAR_DESTINOS_PARA_TUS_VIAJES_DE_LAS_SIGUIENTES_MANERAS:" | translate }}</p>
                <ul>
                  <li>{{ "CALLE_+_NRO._DE_PUERTA." | translate }}</li>
                  <li>{{ "CALLE_+_CALLE." | translate }}</li>
                  <li>{{ "NOMBRE_DEL_LUGAR." | translate }}</li>
                  <li>{{ "SELECCIONAR_UNA_CATEGORÍA" | translate }}</li>
                  <li>{{ "SELECCIONANDO_UN_PUNTO_EN_EL_MAPA_(MANTEN_PRESIONADO)." | translate }}</li>
                </ul>
              </div>
              <div class="el__close-btn"></div>
            </div>
          </div>
        </div>
        <div class="el__index">
          <div class="el__index-back">{{ "R" | translate }}</div>
          <div class="el__index-front">
            <div class="el__index-overlay" data-index="r">{{ "R" | translate }}</div>
          </div>
        </div>
      </div>
      <!-- el end -->
      <!-- el start -->
      <div class="el" id="c">
        <div class="el__overflow" data-index="c">
          <div class="el__inner" data-index="c">
            <div class="el__bg" data-index="c"></div>
            <div class="el__preview-cont" data-index="c">
              <div class="el__heading" data-index="c">
                <ion-icon class="el__heading-icon" data-index="c" name="settings-outline" size="big"
                  color="tertiary"></ion-icon>
              </div>
            </div>
            <div class="el__content" data-index="c">
              <div class="el__text">
                <ion-icon class="el__heading-icon" data-index="c" name="settings-outline" size="big"
                  color="tertiary"></ion-icon>
                <h4>{{ "PREFERENCIAS" | translate }}</h4>
                <p>{{ "UTILIZA_LOS_AJUSTES_DEL_MAPA_Y_NAVEGACIÓN_PARA_CUSTOMIZAR_LA_INTERFAZ." | translate }}</p>
                <ul>
                  <li>{{ "12_DISEÑOS_DEL_MAPA,_3D_Y_2D,_DÍA_/_TARDE_/_NOCHE." | translate }}</li>
                  <li>{{ "TEMPLATE_CLARO/OSCURO_Y_AJUSTES_DE_ACCESIBILIDAD." | translate }}</li>
                  <li>{{ "SALIDA_DE_VOZ_CONFIGURABLE" | translate }}</li>
                </ul>
              </div>
              <div class="el__close-btn"></div>
            </div>
          </div>
        </div>
        <div class="el__index">
          <div class="el__index-back">{{ "O" | translate }}</div>
          <div class="el__index-front">
            <div class="el__index-overlay" data-index="o">{{ "O" | translate }}</div>
          </div>
        </div>
      </div>
      <!-- el end -->
      <!-- el start -->
      <div class="el" id="d">
        <div class="el__overflow" data-index="d">
          <div class="el__inner" data-index="d">
            <div class="el__bg" data-index="d"></div>
            <div class="el__preview-cont" data-index="d">
              <div class="el__heading" data-index="d">
                <ion-icon class="el__heading-icon" data-index="d" name="warning-outline" size="big"
                  color="danger"></ion-icon>
              </div>
            </div>
            <div class="el__content" data-index="d">
              <div class="el__text">
                <ion-icon class="el__heading-icon" data-index="d" name="warning-outline" size="big"
                  color="danger"></ion-icon>
                <h4>{{ "ALERTAS_EN_TIEMPO_REAL" | translate }}</h4>
                <p>{{
                  "RECIBE_ALERTAS_DE_VOZ_EN_TIEMPO_REAL_PARA_ASISTIRTE_CUANDO_CONDUCES._LAS_ALERTAS_SON_UNA_AYUDA_IMPORTANTE_PARA_QUE_PUEDAS_LOGRAR_LA_META_MENSUAL_DE_0_FALTAS_Y_OBTENER_EL_PREMIO."
                  | translate }}</p>
                <ul>
                  <li>{{ "VELOCIDAD_MÁXIMA_PERMITIDA" | translate }}</li>
                  <li>{{ "SEÑALES_DE_PARE" | translate }}</li>
                  <li>{{ "CÁMARAS_DE_CONTROL_DE_VELOCIDAD" | translate }}</li>
                </ul>
              </div>
              <div class="el__close-btn"></div>
            </div>
          </div>
        </div>
        <div class="el__index">
          <div class="el__index-back">{{ "N" | translate }}</div>
          <div class="el__index-front">
            <div class="el__index-overlay" data-index="n">{{ "N" | translate }}</div>
          </div>
        </div>
      </div>
      <!-- el end -->
      <!-- el start -->
<div class="el" id="e">
  <div class="el__overflow" data-index="e">
    <div class="el__inner" data-index="e">
      <div class="el__bg" data-index="e"></div>
      <div class="el__preview-cont" data-index="e">
        <div class="el__heading" data-index="e">
          <ion-icon class="el__heading-icon" data-index="e" name="trophy-outline" size="big" color="success"></ion-icon>
        </div>
      </div>
      <div class="el__content" data-index="e">
        <div class="el__text" data-index="e">
          <ion-icon class="el__heading-icon" data-index="e" name="trophy-outline" size="big" color="success"></ion-icon>
          <h4>{{ "PREMIO_MENSUAL" | translate }}</h4>
          <p>{{ "TODOS_LOS_MESES_SE_GENERA_CON_PARTE_DE_LOS_INGRESOS_DE_LAS_SUSCRIPCIONES,_UN_POZO_ACUMULADO_EN_$USD." |
            translate }}</p>
          <p>{{
            "AL_CULMINAR_EL_MES_SE_REPARTE_EN_PARTES_IGUALES_ENTRE_TODOS_AQUELLOS_SUSCRIPTORES_QUE_CUMPLAN_LOS_REQUISITOS_ESTABLECIDOS:"
            | translate }}</p>
          <ul>
            <li>{{ "AL_MENOS_1000_KM_RECORRIDOS_DURANTE_EL_MES" | translate }}</li>
            <li>{{ "0_FALTA_REGISTRADA_EN_LA_APP_DURANTE_EL_MES" | translate }}</li>
            <li>{{ "LICENCIA_DE_CONDUCIR_HABILITADA" | translate }}</li>
          </ul>
        </div>
        <div class="el__close-btn"></div>
      </div>
    </div>
  </div>
  <div id="smalloverlayindex" class="el__index">
    <div class="el__index-back">{{ "Street" | translate }}</div>
    <div class="el__index-front">
      <div class="el__index-overlay" data-index="street">{{ "Street" | translate }}</div>
    </div>
  </div>
</div>

      <!-- el end -->
      <!-- el end -->
    </div>
    <!-- cont inner end -->
  </div>
  <!-- partial -->
</ion-content>
<ion-footer [translucent]="false">
<ion-toolbar>
  <ion-buttons slot="start">
    <ion-button color="secondary" size="large" (click)="feedback()">{{ "OPINIONES" | translate }}
      <ion-icon slot="start" name="chatbubble"></ion-icon>
    </ion-button>
  </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="success" size="large" (click)="openMap()">
        <ion-icon slot="end" name="car"></ion-icon>{{ "INICIAR" | translate }}
      </ion-button>
    </ion-buttons>
</ion-toolbar>
</ion-footer>
