/* General Styles for ion-menu */
ion-menu {
  ion-content {
    --background: var(--ion-item-background, var(--ion-background-color, #fff));
  }

  ion-list {
    padding: 20px 0;
  }

  ion-note {
    display: inline-block;
    font-size: 16px;
    color: var(--ion-color-dark);
    line-height: 24px;
    margin-bottom: 20px; /* Default margin-bottom for both platforms */
  }

  ion-item {
    --padding-start: 10px; /* Default padding for MD, overridden for iOS below */
    --padding-end: 10px;
    --min-height: 50px; /* Ensures consistent item height */
    border-radius: 4px;
    font-weight: 500; /* Default font-weight for labels */

    &.selected {
      --background: rgba(var(--ion-color-primary-rgb), 0.14);
      --color: var(--ion-color-primary);

      ion-icon {
        color: var(--ion-color-primary);
      }
    }

    ion-icon {
      font-size: 24px; /* Default font-size for iOS, consider if adjustment needed for MD */
      color: var(--ion-color-dark); /* Default icon color, overridden for iOS below */
    }

    ion-label {
    font-weight: 600;
    font-size: 12pt;
    }
  }
}

/* Platform-specific adjustments */
ion-menu.md {
  ion-content {
    --padding-start: 8px;
    --padding-end: 8px;
    --padding-top: 10px;
    --padding-bottom: 10px;
  }

  ion-list-header,
  ion-note {
    padding-left: 10px;
  }

  ion-list#inbox-list {
    border-bottom: 1px solid var(--ion-color-step-150, #d7d8da);

    ion-list-header {
      font-size: 22px;
      font-weight: 600;
      min-height: 20px;
      color: var(--ion-color-primary);
    }
  }

  ion-list#labels-list ion-list-header {
    font-size: 16px;
    margin-bottom: 10px;
   color: var(--ion-color-primary);
    min-height: 26px;
  }
}

ion-menu.ios {
  ion-content {
    --padding-bottom: 10px;
  }

  ion-list {
    padding: 20px 0 0 0;
  }

  ion-item {
    --padding-start: 10px; /* iOS specific padding */
    --padding-end: 10px;
    ion-icon {
      color: var(--ion-color-dark); /* iOS specific icon color */
    }
  }

  ion-list-header,
  ion-note {
    padding-left: 10px;
    padding-right: 10px;
  }

  ion-list#labels-list ion-list-header {
    margin-bottom: 8px;
  }

  ion-note {
    margin-bottom: 8px;
  }
}

h4.shortcutsMenu{
    font-weight: 600;
    font-size: 10pt;
    color: var(--iron-menu-header-color);;
}

h4.appMenu{
    font-weight: 600;
    font-size: 10pt;
    color: var(--iron-menu-header-color);;
}

h4.userMenu{
      font-weight: 600;
    font-size: 10pt;
    color: var(--iron-menu-header-color);;
}

h4.helpMenu{
      font-weight: 600;
    font-size: 10pt;
    color: var(--iron-menu-header-color);;
}

h4.infoMenu{
      font-weight: 600;
    font-size: 10pt;
    color: var(--iron-menu-header-color);;
}

h4.legalMenu{
      font-weight: 600;
    font-size: 10pt;
    color: var(--iron-menu-header-color);
}

#logoIronStreet{
    background: url(/assets/icons/icon-512x512.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100px;
    width: 100px;
    margin: 25px auto;
    display: flex;
    box-shadow: 0 0 10px 3px #fff;
    border-radius: 50%;
}

#menuShortcuts{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 25px;
}
