<ion-app>
    <ion-menu contentId="main-content" type="push" swipe-gesture="false">
      <ion-content>
        <ion-list id="inbox-list">
          <div id="logoIronStreet"></div>
            <h4 class="shortcutsMenu">{{"Atajos"|translate}}:</h4>
            <div id="menuShortcuts">
              <ion-icon name="contrast-sharp" size="large" (click)="toggleTheme()"></ion-icon>
              <img loading="eager" (click)="changeLanguage('es')" src="/assets/img/flags/es.png" width="32" height="32" alt="es" />
              <img loading="eager" (click)="changeLanguage('en')" src="/assets/img/flags/en.png" width="32" height="32" alt="en"/>
              <img loading="eager" (click)="changeLanguage('pt')" src="/assets/img/flags/pt.png" width="32" height="32" alt="pt"/>
           </div>
          <h4 class="appMenu">{{"Menú principal"|translate}}:</h4>
          <ion-menu-toggle auto-hide="true" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon aria-hidden="true" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <h4 class="userMenu">{{"Cuenta de usuario"|translate}}:</h4>
          <ion-menu-toggle auto-hide="true" *ngFor="let p of userPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
            <ion-icon aria-hidden="true" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
            <ion-label>{{ p.title }}</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <h4 class="helpMenu">{{"Ayuda y asistencia"|translate}}:</h4>
        <ion-menu-toggle auto-hide="true" *ngFor="let p of helpPages; let i = index">
          <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
            <ion-icon aria-hidden="true" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
            <ion-label>{{ p.title }}</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <h4 class="infoMenu">{{"Información"|translate}}:</h4>
        <ion-menu-toggle auto-hide="true" *ngFor="let p of infoPages; let i = index">
          <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
            <ion-icon aria-hidden="true" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
            <ion-label>{{ p.title }}</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <h4 class="legalMenu">{{"Sobre Iron Street"|translate}}:</h4>
        <ion-menu-toggle auto-hide="true" *ngFor="let p of legalPages; let i = index">
          <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
            <ion-icon aria-hidden="true" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
            <ion-label>{{ p.title }}</ion-label>
          </ion-item>
        </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
