<ion-header>
  <ion-toolbar color="black">
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-padding">Configuración</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scrollY="false">
  <ion-segment (ionChange)="segmentChanged($event)" [(ngModel)]="selectedSegment">
    <ion-segment-button value="general">
      <ion-label>General</ion-label>
    </ion-segment-button>
    <ion-segment-button value="voz">
      <ion-label>Voz</ion-label>
    </ion-segment-button>
    <ion-segment-button value="busqueda">
      <ion-label>Búsquedas</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="selectedSegment">
    <div *ngSwitchCase="'general'">Contenido para General</div>
    <div *ngSwitchCase="'voz'">Contenido para Voz y audio</div>
    <div *ngSwitchCase="'busqueda'">Contenido para Búsqueda</div>
  </div>
</ion-content>
