
<ion-header>
  <ion-toolbar color="black">
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-padding">Buscar destino, lugares, etc.</ion-title>
    </ion-toolbar>
    </ion-header>

    <ion-content>
      <br />
      <!-- Segment Selector with Icons -->
      <ion-segment (ionChange)="segmentChanged($event)" value="buscar" class="segment-selector">
        <ion-segment-button value="buscar">
          <ion-icon color="primary" name="search-outline"></ion-icon>
        </ion-segment-button>
        <ion-segment-button value="lugares">
          <ion-icon color="success" name="globe-outline"></ion-icon>
        </ion-segment-button>
        <ion-segment-button value="favoritos">
          <ion-icon color="warning" name="bookmarks-outline"></ion-icon>
        </ion-segment-button>
      </ion-segment>

      <!-- Buscar Segment with Tooltip Instructions -->
      <div *ngIf="currentSegment === 'buscar'" class="segment-content">
        <h2 color="primary">¿A dónde vamos?</h2>
          <ion-searchbar
            debounce="800"
            placeholder="Buscar dirección, lugar, etc."
            [(ngModel)]="searchTerm"
            (ionInput)="searchAWS('strContains')"
            color="search-bar primary left">
          </ion-searchbar>

        <!-- Suggestions and Loading Logic Remains the Same -->

        <div *ngIf="!segmentIsLoading[currentSegment]">
          <div *ngFor="let country of getCountryKeys()">
            <ion-label color="primary" class="countryLabel">Resultados para {{country}}:</ion-label>
            <div *ngFor="let municipality of getMunicipalityKeys(country)">
              <ion-label color="secondary" class="municipalityLabel">- Dentro de {{ municipality }}:</ion-label>
              <ion-list>
                <ion-item *ngFor="let suggestion of groupedPlaces[country][municipality]" (click)="setDestinationFromPlace(suggestion)" class="suggestion-item">
                  <ion-icon size="small" [name]="getSuggestionIcon(suggestion)" slot="start"></ion-icon>
                  <ion-label>
                    <h6>{{ suggestion.label }}</h6>
                    <p>{{ suggestion.municipality }}, {{ suggestion.country }}</p>
                  </ion-label>
                  <ion-icon size="small" name="location-outline" slot="end"></ion-icon>
                </ion-item>
              </ion-list>
            </div>
          </div>

          <ng-template #noSuggestions>
            <ion-text color="medium" class="no-suggestions-text" *ngIf="searchTerm.length > 0 && suggestions.length > 0">
              <p>No se encontraron sugerencias.</p>
            </ion-text>
          </ng-template>

        </div>
      </div>

      <!-- Placeholder Content for Other Segments -->

      <div id="lugares" *ngIf="currentSegment === 'lugares'" class="segment-content">
        <h2 color="success">Lugares cercanos...</h2>
        <!-- Additional content for Lugares -->

        <ion-grid *ngIf="!segmentIsLoading[currentSegment]">
          <ion-row>
            <ion-col size="6" *ngFor="let category of categories">
              <div class="icon-above-text" (click)="loadPlaces(category)">
                <ion-icon color="dark" [src]="iconUrl(category.marker)"></ion-icon>
                <span>{{ category.name }}</span>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <div *ngIf="currentSegment === 'favoritos'" class="segment-content">
        <h2 color="warning">Favoritos</h2>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Casa</ion-card-title>
          </ion-card-header>
          <ion-card-content *ngIf="homeMarker">
            <ion-item>
              <ion-icon color="success" class="notDefaultColor" name="home-outline" slot="start"></ion-icon>
              <ion-label>
                <h2>{{ homeMarker.label }}</h2>
              </ion-label>
              <ion-button size="large" fill="clear" color="primary" (click)="setDestinationFromPlace(homeMarker)">
                <ion-icon class="bookmarkActionIcon"  color="primary" class="notDefaultColor" slot="icon-only" name="navigate-outline"></ion-icon>
              </ion-button>
              <ion-button size="large" fill="clear" color="danger" (click)="removeHomeMarker()">
                <ion-icon class="bookmarkActionIcon"  color="danger" class="notDefaultColor" slot="icon-only" name="trash-outline"></ion-icon>
              </ion-button>
            </ion-item>
          </ion-card-content>
          <ion-card-content *ngIf="!homeMarker">
            <ion-item>
              <ion-icon color="success" class="notDefaultColor" name="home-outline" slot="start"></ion-icon>
              <ion-label>
                <h2>Aún no se ha guardado ningún lugar como "Casa".</h2>
              </ion-label>
            </ion-item>
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <ion-card-title>Trabajo</ion-card-title>
          </ion-card-header>
          <ion-card-content *ngIf="workMarker">
            <ion-item>
              <ion-icon color="secondary" class="notDefaultColor" name="business-outline" slot="start"></ion-icon>
              <ion-label>
                <h2>{{ workMarker.label }}</h2>
              </ion-label>
              <ion-button size="large" fill="clear" color="primary" (click)="setDestinationFromPlace(workMarker)">
                <ion-icon class="bookmarkActionIcon"  color="primary" class="notDefaultColor" slot="icon-only" name="navigate-outline"></ion-icon>
              </ion-button>
              <ion-button size="large" fill="clear" color="danger" (click)="removeWorkMarker()">
                <ion-icon class="bookmarkActionIcon"  color="danger" class="notDefaultColor" slot="icon-only" name="trash-outline"></ion-icon>
              </ion-button>
            </ion-item>
          </ion-card-content>
          <ion-card-content *ngIf="!workMarker">
            <ion-item>
              <ion-icon color="secondary" class="notDefaultColor" name="business-outline" slot="start"></ion-icon>
              <ion-label>
                <h2>Aún no se ha guardado ningún lugar como "Trabajo".</h2>
              </ion-label>
            </ion-item>
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <ion-card-title>Favoritos</ion-card-title>
          </ion-card-header>
          <ion-card-content *ngIf="favoriteMarkers.length>0">
            <ion-list>
              <ion-item *ngFor="let marker of favoriteMarkers">
                <ion-icon color="warning" class="notDefaultColor" name="star-outline" slot="start"></ion-icon>
                <ion-label>
                  <h2>{{ marker.label }}</h2>
                </ion-label>
                <ion-button size="large" fill="clear" color="primary" (click)="setDestinationFromPlace(marker)">
                  <ion-icon class="bookmarkActionIcon"  color="primary" class="notDefaultColor" slot="icon-only" name="navigate-outline"></ion-icon>
                </ion-button>
                <ion-button size="large" fill="clear" color="danger" (click)="removeFavoriteMarker(marker)">
                  <ion-icon class="bookmarkActionIcon"  color="danger" class="notDefaultColor" slot="icon-only" name="trash-outline"></ion-icon>
                </ion-button>
              </ion-item>
            </ion-list>
          </ion-card-content>
          <ion-card-content *ngIf="favoriteMarkers.length==0">
            <ion-item>
              <ion-icon color="warning" class="notDefaultColor" name="star-outline" slot="start"></ion-icon>
              <ion-label>
                <h2>Tu lista de lugares favoritos está vacía.</h2>
              </ion-label>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </div>

      <div *ngIf="segmentIsLoading[currentSegment]">
        <ion-spinner name="crescent" class="centeredSpinner"></ion-spinner>
      </div>

    </ion-content>
