<ion-content [fullscreen]="true">
  <div id="container">
    <div id="mapbox"></div>

    <div id="tripDetailsContainer">
      <h4 id="tripDestination">{{tripDestination}}</h4>
      <div class="flexEqualRow">
        <ion-icon class="buttonIcon" color="danger" (click)="cancelTrip()" name="close-circle-sharp"
          size="big"></ion-icon>
        <div id="estimated">
          <div id="tripDuration">
            <div class="noteText" color="warning">{{tripDuration}} mins.</div>
          </div>
          <div id="tripDistance">
            <div class="noteText" color="warning">{{tripDistance}} kms.</div>
          </div>
        </div>
        <ion-icon class="buttonIcon" color="warning" (click)="simulateTrip()" name="videocam-sharp"
          size="big"></ion-icon>

        <ion-icon color="tertiary" class="buttonIcon" (click)="addAnotherStopToTrip()" name="add-circle-sharp"
          size="big">
        </ion-icon>
        <ion-icon class="buttonIcon" color="success" (click)="startTrip()" name="navigate-circle-sharp"
          size="big"></ion-icon>

      </div>
    </div>


    <div id="tripStepDetails">
      <h3 id="currentManeuver">{{currentManeuver}}</h3>
      <div id="stepIcon" class="directions-icon-{{currentManeuvreIcon}}"></div>
    </div>

    <div id="tripProgress" [ngClass]="{'simulating':simulation===true}">
      <div *ngIf="simulation" class="flexMiddleRow motionFont">
        <p>{{ 'simulando_viaje...' | translate }}</p>
      </div>
      <div class="flexMiddleRow">
        <ion-icon color="danger" class="smallButtonIcon" (click)="stopTrip()" name="stop-circle-sharp"></ion-icon>

        <ion-icon color="primary" class="noteIcon" name="car-outline"></ion-icon>
        <ion-progress-bar value="{{tripProgressIndex}}"></ion-progress-bar>
        <ion-icon color="success" class="noteIcon" name="location-outline"></ion-icon>
          <ion-icon color="tertiary" class="smallButtonIcon"
          (click)="addAnotherStopToTrip()" name="add-circle-sharp">
        </ion-icon>

      </div>
    </div>



    <ion-card class="card_left" id="card_left">
      <ion-card-header class="max" (click)="openMaxSpeedModal()">
        {{currentMaxSpeed}}
      </ion-card-header>
      <ion-card-header class="current" (click)="openCurrentSpeedModal()">
        {{currentSpeed}}
      </ion-card-header>
    </ion-card>
  <div class="odometer-container-cash">
           
      <!--<ion-icon color="success" name="cash-outline" size="small"></ion-icon> -->
    <span class='odometer dollars'>U$D</span> <div class="odometer odometer-theme-digital odometer-animating-down odometer-animating"></div>
  </div>
    <ion-card class="card_stats" id="card_stats">
      <ion-card-header class="faults">
        {{currentFaults}}
      </ion-card-header>
    </ion-card>
    <div id="kmLabelOdom">KM:</div>
    <div class="odometer-container">
      <div id="odometer" class="odometer odometer-theme-car"></div>
    </div>
   <div id="parking_button" (click)="openParkingModal()"></div>

   <div id="geolocating">
      <h4>{{ 'buscando_ubicación...' | translate }}</h4>
      <ion-spinner name="crescent"></ion-spinner>
    </div>

    <div id="mapFabIcons">
      
      <ion-menu-toggle id="menuButtonToggle" auto-hide="false">
        <ion-fab-button color="light">
          <ion-icon color="dark" name="menu-outline"></ion-icon>
        </ion-fab-button>
      </ion-menu-toggle>

      <ion-fab id="fab-map-controls" slot="fixed" vertical="bottom" size="small" horizontal="start">

        <ion-fab-button *ngIf="isNative" color="light" (click)="toggleSpeechRecognition()">
          <ion-icon color="danger" name="mic-outline"></ion-icon>
        </ion-fab-button>

        <ion-fab-button color="light" (click)="setCameraMode('POV')">
          <ion-icon color="primary" name="navigate-outline"></ion-icon>
        </ion-fab-button>

        <ion-fab-button color="light" (click)="setCameraMode('SKY')">
          <ion-icon color="secondary" name="compass-outline"></ion-icon>
        </ion-fab-button>

        <ion-fab-button color="light" (click)="openModal('Search')">
          <ion-icon color="success" name="search-outline"></ion-icon>
        </ion-fab-button>

        <ion-fab-button color="light" (click)="openModal('MapSettings')">
          <ion-icon color="tertiary" name="map-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-button color="light" (click)="openModal('UserMarkerSettings')">
          <ion-icon color="danger" name="car-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-button *ngIf="audioOn" color="light" (click)="toggleAudio()">
          <ion-icon color="warning" name="volume-high-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-button *ngIf="!audioOn" color="light" (click)="toggleAudio()">
          <ion-icon color="warning" name="volume-mute-outline"></ion-icon>
        </ion-fab-button>
        
        <!--<ion-fab-button color="light" (click)="openModal('CalibrateApp')">
          <ion-icon color="success" name="car-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-button color="light" (click)="openModal('Debug')">
          <ion-icon color="success" name="bug-outline"></ion-icon>
        </ion-fab-button>-->
      </ion-fab>
    </div>
</div>
</ion-content>
