@import '../../../theme/variables.scss';

/* Root Variables for General Use */
:root {
  --container-text-color: #8c8c8c;
  --link-text-decoration: none;
  --display-none: none !important;
}

/* Styling for ion-menu-button */
ion-menu-button {
  color: var(--ion-color-primary);
}

/* Container Styles */
#container {
  text-align: center;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: var(--container-text-color);
  margin: 0;
}

#container a {
  text-decoration: var(--link-text-decoration);
}

/* Mapbox Styles */

/* Common Styling Patterns */
.home-page-toolbar, .trip-details, .trip-controls,
#tripDetailsContainer, #tripStepDetails, #tripControls {
  background-color: var(--home-toolbar-background);
  color: var(--home-text-color);
}

#tripDetailsContainer, #tripStepDetails, #tripControls, #tripStepDetails {
  display: none;
}




#mapFabIcons ion-fab, ion-fab{
    --ion-color-light: #000;
    position: relative;
}

#fab-map-controls,#fab-user,#fab-settings{
    position: relative;
}

ion-fab ion-icon{
    font-size: 24px !important;
    --ionicon-stroke-width: 40pt;
}


/* Speed Indicators and Geolocation Status */
#card_left {
  position: absolute;
  top: 10px;
  border-radius: var(--modal-border-radius);
  box-shadow: 0 2px 4px var(--shadow-color);
  background-color: transparent;
  color: var(--home-text-color);
  z-index: 10;
}
/* Dark Mode Specific Styles */
@media (prefers-color-scheme: dark) {

}


 #geolocating {
    background-color: transparent;
    color: white;
    display: block;
    position: absolute;
    width: 100%;
    bottom: 25px;
    left: 0;
    margin: auto;
    font-size: 16pt;
    font-weight: 600;
  }

/* Power Button Styling */
#powerButton {
  position: absolute;
  bottom: 10%;
  left: 5%;
}

/* Fab Icons Positioning */
#mapFabIcons{
    position: absolute;
    bottom: 160px;

}

#mapFabIcons ion-fab-button {
margin-bottom: 15px !important;
    box-shadow: 0px 0px 6px 2px #607D8B;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

/* Map Style Option Styling */
.map-style-option ion-img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.map-style-option {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.map-style-option ion-label {
  margin-top: 15px;
  font-size: 14px;
  font-weight: 500;
  color: white;
}

#tripControls {
  position: absolute;
  top: 125px;
  width: 100%;
  margin: 0 auto;
  left: 0;
  background-color: black;
  display: none;
  border-bottom: 2px solid green;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding-bottom: 5px;
  display: none;
}

.mapboxgl-ctrl-top-left {
  left: 0;
  top: 0;
  width: 100%;
}

/* Speedometer Styles */
.speedometer {
  width: 50px;
  background-color: white;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  margin: auto;
  height: 50px;
}

/* Card Styling */
.card_right {
  display: none;
}

.card_right .speedometer {
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  margin: 0 !important;
  padding: 0 !important;
  width: 120px;
  height: 120px;
  background-position: 50% 50%;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background: url(/assets/img/map-controls/speedometer.png);
}

.needle {
  width: 3px;
  height: 60px;
  background-color: red;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: top;
  transform: translateX(-50%);
  z-index: 999;
}

/* Header Max & Current Styles */
ion-card-header.max, ion-card-header.current {
    font-size: 20pt;
    padding-top: 20px;
    padding-left: 5px;
    border-radius: 50%;
    width: 72px;
    height: 72px;
    font-weight: 800;
    padding-right: 5px;
}

ion-card-header.max {
    margin: 0;
    float: right;
    background: url(/assets/img/icons/maxspeed.png) !important;
    color: #232834;
    background-size: 100% 100% !important;
}

span.smallSize{
  font-size: 8pt;
  margin-top: -5px;
}


ion-card-header.current {
    background: url(/assets/img/icons/yourspeed.png) !important;
    color: #232834;
    background-size: 100% 100% !important;
    float: right;
    margin-top: 4px;
}

.card_right, .card_left {
position: absolute;
    top: 20px;
    border-radius: var(--modal-border-radius);
    box-shadow: 0 2px 4px var(--shadow-color);
    background-color: var(--home-toolbar-background);
    color: var(--home-text-color);
    z-index: 10;
}

.card_right {
  display: none;
  right: 20px;
  width: 120px;
  height: 120px;
}

.card_left {
right: 5px;
    width: 75px;
    height: 170px;
    margin: 0;
}

.card_stats{
  position: absolute;
  top: 190px;
  background-color: transparent;
  color: var(--home-text-color);
  z-index: 10;
  right: 5px;
  width: 67px;
  height: 200px;
  margin: 0;
  border: none;
  box-shadow: none;
}

.card_stats ion-card-header.kms {
  width: 60px;
  height: 55px;
  font-size: 16pt;
  color: #fff;
  //padding-top: 57px;
  padding: 31px 0px 0px 0px;
  font-weight: bolder;
  background: url(/assets/img/icons/kms.png);
  background-size: 100% 100%;
  text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000,
  1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
  text-align: center;
}

.card_stats ion-card-header.faults{
  width: 60px;
  height: 55px;
  font-size: 16pt;
  color: #fff;
  padding-top: 1px;
  padding-right: 7px;  
  font-weight: bolder;
  background: url(/assets/img/icons/alert.png);
  background-size: 100% 100%;
  text-shadow: 1px 1px 8px black;
  text-align: right;
  margin-top: 15px;
}

.mapboxgl-user-location-puk-dot:before {
    background-color: #079421;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    left: -5px;
    top: -5px;
    animation: mapboxgl-user-location-dot-pulse 1.3s infinite;
    content: "";
    position: absolute;
    box-shadow: 0px 0px 10px 3px #E91E63;
}

.mapboxgl-user-puk{
    height: 40px;
    width: 40px;
    background: url(/assets/img/map-icons/ironpuk.png);
    left: -10px;
    position: absolute;
    top: -10px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#newtripContainer{
   display: none;
}

#tripDetailsContainer {
    position: absolute;
    bottom: 0px;
    background: var(--iron-trip-containers-background);
    z-index: 5;
    padding: 5px;
    left: 0px;
    right: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top:2px solid var(--ion-color-secondary);

    /*box-shadow: 1px 1px 5px 1px var(--ion-color-primary)*/;
}

#tripDuration{
    display: flex;
    justify-content: stretch;
}

#tripDistance{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}


#stepIcon, #nextIcon{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    position: relative;
    background-size: cover;
    margin: 0 auto;
}

#tripStepDetails, #tripNexStepDetails{
    box-shadow: #00000087 1px 6px 7px 1px;
    position: absolute;
    left: 10px;
    right: 95px;
    top: 14px;
    background: url(/assets/img/map-icons/ledscreen.png);
    background-size: 100% 100%;
    border: 1px solid #ffffff;
    border-radius: 20px;
    z-index: 3;
    color: #ff6c3e;
    padding: 13px;
  display: none;
}
#currentManeuver, #nextManeuver{
    font-family: e1234;
    font-size: 18pt;
    font-weight: 600;
    margin: 0;
    line-height: 1.2;
    text-transform: uppercase;
}

#poste{
    display: none;
    position: absolute;
    left: 0;
    height: 54px;
    width: 100%;
    top: 5px;
    background: url(/assets/img/map-icons/viga.png);
    background-repeat: round;
    right: 0;
    z-index: 2;
    opacity: .9;
    box-shadow: 0 0 20px 5px #000;
    background-size: contain;
}

.mapboxgl-ctrl-top-right{
    right: 0;
    top: 0;
    width: 100%;
}

#tripDetailsContainer h4{
font-size: 12pt;
    margin: 5px;
    font-weight: 600;
    /* font-weight: 500; */
    color: var(--ion-text-color);
}

.tripStepDetails h3, .tripNexStepDetails h3{
    font-size: 16px;
    margin: 0;
    font-weight: 500;
}

#tripProgress.simulating{
    height: 90px !important;
}

#tripProgress{
    display: none;
    position: absolute;
    bottom: 0px;
    background: var(--iron-trip-containers-background);
    z-index: 5;
    left: 0px;
    right: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top:2px solid var(--ion-color-secondary);
    height: 50px;
}

.flexEqualRow{
  display: flex;
  justify-content: space-around;
  margin: auto;
}

.flexEqualRow ion-icon{
  font-size: xx-large;
}

.flexEqualRowCeroMargin{
    font-size: 30px;
    --ionicon-stroke-width: 40px;
        display: flex;
    justify-content: space-around;
}


.buttonIcon{
  font-size: 35px;
  --ionicon-stroke-width: 40px;
  margin: auto;
}

.noteIcon{
  font-size: 20px;
  --ionicon-stroke-width: 30px;
  width: 50px;
  height: 20pt;

}

#tripDuration .noteIcon, #tripDistance .noteIcon{
    display: flex;
    width: 25px;
    height: 25px;
}

#tripDuration .noteText, #tripDistance .noteText{
    font-size: 12pt;
    color: var(--ion-color-secondary);
    /* font-weight: 500; */
    margin-left: 5px;
}

.smallButtonIcon{
      width: 65pt;
    margin-bottom: 10px;
    margin-right: 10px;
        margin-left: 10px;
  font-size: 40px;
   --ionicon-stroke-width: 40px;
}

ion-progress-bar .progress{
    background: var(--ion-color-success);
    z-index: 2;
}

ion-progress-bar .progress-buffer-bar {
    background: var(--ion-color-danger);
    z-index: 1;
}


.noteText{
    font-size: 12px;
    font-weight: 600;
    color: var(--ion-color-secondary);
    /* font-weight: 500; */
    margin-left: 10px;

}

#tripDistance, #tripDuration{
    display: inline-flex;
    margin-left: 5px;
    margin-right: 5px;
}

#estimated{
  display: flex;
  justify-content: space-around;
  margin: auto;
}

.estimatedHorizontal{
  display: flex;
  justify-content: space-around;
}


.flexMiddleRow{
    display: flex;
    padding: 2px;
    margin: 5px;
}

ion-progress-bar{
  margin-top: 14px;
}


ion-toolbar ion-button, ion-toolbar ion-buttons, ion-toolbar button{
    height: 80px;

}

ion-toolbar ion-icon{

    font-size: 28px;
    height: 50px;
    width: 43px;
}

ion-toolbar{
      height: 80px;
}

#buttonbar{
    justify-content: space-evenly;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: transparent;
    z-index: 5;
    /* padding: 5px; */
    display: flex;
}



#buttonbar ion-button, #buttonbar ion-button ion-icon{
  border-radius: 50% !important;
}

#menuButtonToggle {
    position: fixed;
    top: 10px;
    left: 10px;
}

.motionFont p{
  font-weight: 600;
  text-align: center;
  font-size: 20px !important;
  font-family: Hack, sans-serif;
  text-transform: uppercase;
  background: linear-gradient(90deg, #000, #fff, #000);
  letter-spacing: 5px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
  background-size: 80%;
  animation: shine 5s linear infinite;
  position: relative;
  margin: 1px auto !important;
}

@keyframes shine {
  0% {
    background-position-x: -500%;
  }
  100% {
    background-position-x: 500%;
  }
}

@keyframes bounce {
  0%, 100% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.1);
  }
  40% {
    transform: scale(0.9);
  }
  60% {
    transform: scale(1.1);
  }
  80% {
    transform: scale(1.05);
  }
}

.speed-exceeded {
  animation: bounce 1s ease-in-out 2; /* Duración de la animación, 2 bounces */
  color:rgba(218, 30, 30, 0.897) !important;
}

#card_left .current.speed-exceeded{
  color:rgba(218, 30, 30, 0.897) !important;
}

.odometer-container{
  position: absolute;
  top: 168px;
  right: 1px;
}

.odometer-container-cash{
  position: absolute;
  top: 19px;
  left: calc(50% - 80px);
}

.odometer.odometer-auto-theme, .odometer.odometer-theme-car {

  font-size: 12pt !important;
}

.odometer.odometer-auto-theme, .odometer.odometer-theme-digital { 
  font-size: 15pt;
}


/*.odometer.odometer-theme-car .odometer-digit:last-child {
  font-size: 12pt !important;
  color: red !important;
}

.odometer.odometer-theme-car .odometer-digit:first-child {
  display:none !important;
}*/

