<ion-header>
  <ion-toolbar color="black">
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-padding">Estacionamiento tarifado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="/assets/img/map-icons/parking.png" id="modalFeaturedImage"/>
  <div class="ticket-div">
    <ion-text color="primary"><h3>Medio de pago: SMS al 466</h3></ion-text>
    <ion-text color="secondary"><h3>Costo: $52 la hora</h3></ion-text>
  </div>
  <div class="ticket-div">
    <ion-item>
      <ion-input 
        [(ngModel)]="matricula" 
        required
        label="Matrícula"
        [clearInput]="true"
        (ngModelChange)="convertirMayusculas($event)"
        placeholder="Ingresar (ej: SFW1234)">
    </ion-input>
  </ion-item>
  <ion-item *ngIf="errores.matricula" >
    <ion-label color="danger">Por favor, ingrese una matrícula válida.</ion-label>
  </ion-item>
  <ion-item *ngIf="errores.matriculaFormato">
    <ion-label color="danger">El formato debe ser tres letras seguidas de cuatro dígitos (por ejemplo, SZS1234).</ion-label>
  </ion-item>

  <ion-item>
    <ion-select
      label="Minutos"
      [interfaceOptions]="customActionSheetOptions"
      interface="action-sheet"
      placeholder="Duración del ticket"
      [(ngModel)]="minutosSeleccionados" 
      (ngModelChange)="calcularTotal()"
      required
    >
    <ion-select-option *ngFor="let option of opcionesMinutos" [value]="option">{{ option }} min</ion-select-option>

    </ion-select>
  </ion-item>
  <ion-item *ngIf="errores.minutos" color="">
    <ion-label color="danger">Por favor, seleccione la cantidad de minutos.</ion-label>
  </ion-item>

  <ion-item *ngIf="minutosSeleccionados === 'Especificar'">
    <ion-label position="floating">Especificar Minutos</ion-label>
    <ion-input [(ngModel)]="minutos" type="number" (ngModelChange)="calcularTotal()" required></ion-input>
  </ion-item>
  <ion-item *ngIf="errores.minutosEspecificos" color="">
    <ion-label color="danger">Por favor, ingrese un valor válido de minutos.</ion-label>
  </ion-item>
  <!-- Pregunta sobre el horario de inicio -->
  <ion-item>
    <ion-label>¿A partir de cuándo?</ion-label>
    <ion-radio-group [(ngModel)]="horarioInicioSeleccionado">
      <ion-item>
        <ion-label>AHORA</ion-label>
        <ion-radio slot="start" value="ahora"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Elegir horario</ion-label>
        <ion-radio slot="start" value="especificar"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-item>

  <!-- Mostrar timepicker si se selecciona "Especificar horario de inicio" -->
  <ion-item *ngIf="horarioInicioSeleccionado === 'especificar'">
    <ion-label>Horario de inicio</ion-label>
    <ion-datetime display-format="HH:mm" picker-format="HH:mm" hourValues="10,11,12,13,14,15,16,17" hourCycle="h24" presentation="time" [(ngModel)]="horarioInicio"></ion-datetime>
  </ion-item>


  <ion-text color="secondary" *ngIf="total" ><h3>TOTAL: ${{total}}</h3></ion-text>

  <ion-button expand="block" (click)="enviarSMS()">Comprar vía SMS al 466</ion-button>
  <br/><ion-note color="contrast">El horario de funcionamiento del sistema de estacionamiento tarifado es de lunes a viernes de 10 a 18 h.</ion-note>
  <br/><br/><ion-note color="warning">Si el sistema no confirma la compra debe repetir el procedimiento.</ion-note>
  <br/><br/><ion-note color="contrast">Consulta la información detalla en la web oficial de la <a href="https://montevideo.gub.uy/areas-tematicas/movilidad/estacionamiento-tarifado/precio-del-ticket-y-como-pagarlo-0">Intendencia de Montevideo.</a></ion-note>

  </div>


 
</ion-content>
