<ion-header>
  <ion-toolbar color="black">
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-padding">Estacionamiento tarifado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="/assets/img/map-icons/parking.png" id="modalFeaturedImage"/>
  <div class="ticket-div">
    <ion-text color="primary"><h3>Medio de pago: SMS al 466</h3></ion-text>
    <ion-text color="secondary"><h3>Costo: $52 la hora</h3></ion-text>
    <ion-label color="dark">Se abrirá tu app de mensajes con un SMS y debes confirmar el envío. </ion-label>
    <br/><ion-label color="warning">Si el sistema no confirma la compra debe repetir el procedimiento.</ion-label>
    <br/><ion-note color="dark">Consulta la información detalla en la web oficial de la <a href="https://montevideo.gub.uy/areas-tematicas/movilidad/estacionamiento-tarifado/precio-del-ticket-y-como-pagarlo-0">Intendencia de Montevideo.</a></ion-note>
  </div>
  <div class="ticket-div">
    <ion-item>
      <ion-input 
        [(ngModel)]="matricula" 
        required
        label="Matrícula"
        labelPlacement="stacked"
        [clearInput]="true"
        placeholder="Ingresa aquí la matrícula">
    </ion-input>
  </ion-item>
  <ion-item *ngIf="errores.matricula" >
    <ion-label color="danger">Por favor, ingrese una matrícula válida.</ion-label>
  </ion-item>
  <ion-item *ngIf="errores.matriculaFormato" color="danger">
    <ion-label>El formato debe ser tres letras (mayúsculas) seguidas de cuatro dígitos (por ejemplo, SZS1234).</ion-label>
  </ion-item>

  <ion-item>
    <ion-select
      label="Minutos"
      [interfaceOptions]="customActionSheetOptions"
      interface="action-sheet"
      placeholder="Duración del ticket"
      [(ngModel)]="minutosSeleccionados" 
      (ngModelChange)="calcularTotal()"
      required
    >
    <ion-select-option *ngFor="let option of opcionesMinutos" [value]="option">{{ option }} min</ion-select-option>

    </ion-select>
  </ion-item>
  <ion-item *ngIf="errores.minutos" color="">
    <ion-label color="danger">Por favor, seleccione la cantidad de minutos.</ion-label>
  </ion-item>

  <ion-item *ngIf="minutosSeleccionados === 'Especificar'">
    <ion-label position="floating">Especificar Minutos</ion-label>
    <ion-input [(ngModel)]="minutos" type="number" (ngModelChange)="calcularTotal()" required></ion-input>
  </ion-item>
  <ion-item *ngIf="errores.minutosEspecificos" color="">
    <ion-label color="danger">Por favor, ingrese un valor válido de minutos.</ion-label>
  </ion-item>
  <ion-text color="secondary" *ngIf="total" ><h3>TOTAL: ${{total}}</h3></ion-text>

  <ion-button expand="block" (click)="enviarSMS()">Comprar vía SMS al 466</ion-button>
  </div>


 
</ion-content>
