<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Iron Street</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!--<ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Iron Street</ion-title>
    </ion-toolbar>
  </ion-header>-->

  <div id="container">
      <div id="mapbox" class="mapboxgl-map"></div>

      <!--<div class="speed-indicators">
        <div id="maxSpeedDiv">{{ getMaxSpeed() }} km/h</div>
        <div id="speedometer">{{ getSpeed() }} km/h</div>
      </div>-->

      <div id="mapFabIcons">
        <ion-fab vertical="bottom" horizontal="end" slot="fixed">
          <ion-fab-button size="small" (click)="openModal('Search')">
            <ion-icon name="search-sharp"></ion-icon>
          </ion-fab-button>
          <ion-fab-button size="small" (click)="setCameraMode('POV')">
            <ion-icon name="navigate-circle-sharp"></ion-icon>
          </ion-fab-button>
          <ion-fab-button size="small" (click)="setCameraMode('SKY')">
            <ion-icon name="analytics-sharp"></ion-icon>
          </ion-fab-button>
          <ion-fab-button size="small" (click)="openModal('MapSettings')">
            <ion-icon name="map-sharp"></ion-icon>
          </ion-fab-button>
        </ion-fab>
      </div>

      <div id="tripControls">
        <ion-button expand="full" class="left almost-half" (click)="cancelTrip()">Cancelar</ion-button>
        <ion-button expand="full" class="right almost-half" (click)="startTrip()">Iniciar viaje</ion-button>
      </div>

    <ion-card class="card_left">
      <ion-card-header class="max">
        {{ currentMaxSpeed }} km/h
      </ion-card-header>
      <ion-card-header class="current">
        {{ currentSpeed }} km/h
      </ion-card-header>
    </ion-card>

    <ion-card class="card_right">
      <ion-card-content>
        <div class="speedometer">
          <div class="needle" [style.transform]="'rotate(' + currentSpeedometerNeedleRotation + 'deg)'"></div>
        </div>
      </ion-card-content>
    </ion-card>

  </div>
</ion-content>

